*.egg-info/
*__pycache__/
*.pyc
*.log
.cache/
.coverage
.eggs/
.tox
.idea
.allure/
*.pytest_cache/
build/
dist/
geckodriver.log
docs/build/
venv/
report/
logs/
test-output/
allure-results/
allure-reports/
target/
snapshot/
iems-dev-regression-test.xml
iems-test-regression-test.xml
iems-prod-regression-test.xml
snc-dev-regression-test.xml
snc-test-regression-test.xml
snc-prod-regression-test.xml
jinzu-dev-regression-test.xml
jinzu-test-regression-test.xml
jinzu-prod-regression-test.xml
ansteel-test-regression-test.xml

