<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/apex/workspace/local/siemens/data-layer-automation/src/main/java/com/siemens/datalayer">
        <classes>
            <class name="com.siemens.datalayer.apiengine.test.InterfaceTests">
                <methods>
                    <include name="getAllInstanceOfOneEntityByRestful"/>
                    <include name="getAllInstanceOfOneEntityByGraphQL"/>
                    <include name="getAllInstanceOfOneEntityWithMultipleColumnTypeByGraphQL"/>
                    <include name="getAllInstanceOfOneEntityNotExistByGraphQL"/>
                    <include name="getInstanceOfOneEntityWithEqByGraphQL"/>
                    <include name="getInstanceOfOneEntityWithEqNoResultByGraphQL"/>
                </methods>
            </class>
            <class name="com.siemens.datalayer.connector.test.InterfaceTests">
                <methods>
                    <include name="GetAllEntitiesName"/>
                    <include name="SearchModelSchemaByName"/>
                    <include name="SearchModelSchemaForAllEntities"/>
                    <include name="SearchModelDataByCondition"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>